html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

p {
    color: var(--Grayish-Blue);
    font-weight: 400; 
    text-align: center;
    line-height: 1.6rem;
}

h1, h2, h3 {
    text-align: center;
    color: var(--Dark-Grayish-Blue);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

.max-width {
    max-width: 760px;
    padding: 0 20px;
    margin: 0 auto;
}

.wrap {
    background: url(./images/bg-header-desktop.png)  no-repeat center top / contain ;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.banner, .strong,
.device, .feature,
.customers, .download_info {
    margin-bottom: 100px;
}

.banner_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_logo {
    width: 120px;
    margin: 100px 0 50px 0;
}

.banner_logo img {
    width: 100%;
}

.download_btn {
    width: 480px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 0.5rem;
    margin: 40px auto 0;
}

.download_btn .download_ios,
.download_btn .download_mac {
    display: block;
    border-radius: 999px;
    text-align: center;
    padding: 16px 40px;
    color: #fff;
    opacity: 1;
}

.download_btn .download_ios {
    background-color: var(--Strong-Cyan);
    box-shadow: 0 8px 12px #ccc;
}

.download_btn .download_mac {
    background-color: var(--Light-Blue);
    box-shadow: 0 8px 12px #ccc;
}

.download_btn .download_ios:hover,
.download_btn .download_mac:hover {
    opacity: 0.8;
}

.strong_header {
    margin-bottom: 64px;
}

.strong_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.strong_img {
    width: 760px;
    margin-left: -360px;
    margin-right: 100px;
}

.strong_list {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
}

.strong_list h3,
.strong_list p {
    text-align: left;
}

.device_header {
    margin-bottom: 40px;
}

.device_img {
    width: 880px;
    margin: 0 auto;
}

.device_img img {
    width: 100%;
}

.feature_container {
    max-width: 1056px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.feature_header {
    margin-bottom: 64px;
}

.feature_item {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.feature_container p {
    margin: 0;
    line-height: 2rem;
}

.feature_item img {
    height: 40px;
    margin-bottom: 16px;
}

.customers {
    width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.customers, 
.footer_container {
    max-width: 1024px;
}

.footer {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.footer_logo {
    height: 64px;
    margin-top: 26px;
}

.footer_logo img {
    height: 100%;
}

.footer_link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    flex-wrap: wrap;
    flex-grow: 0.5;
    padding-right: 40px;
}

.footer_link a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
    height: 50%;
    text-align: center;
    color: var(--Dark-Grayish-Blue);
}

.footer_link a:hover {
    color: var(--Strong-Cyan);
}

.footer_media {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_media a {
    width: 24px;
    margin: 0 16px;
}


@media (max-width: 1023px) {
    .wrap {
        background-image: url("./images/bg-header-mobile.png");
        font-size: 24px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 28px;
    }

    .banner, .strong,
    .device, .feature,
    .customers, .download_info {
        margin-bottom: 160px;
    }

    .strong_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .strong_img,
    .device_img {
        max-width: 720px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
    }

    .strong_img {
        margin: auto;
    }

    .strong_img img {
        width: 100%;
    }

    .strong_list {
        width: 100%;
    }

    .strong_list h3,
    .strong_list p {
        text-align: center;
    }

    .download_btn {
        width: 400px;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }
    
    .download_btn .download_ios,
    .download_btn .download_mac {
        width: 100%;
        padding: 16px 0;
    }
    .download_btn .download_ios {
        margin-bottom: 24px;
    }

    .feature_container {
        flex-direction: column;
        align-items: center;
    }
    
    .feature_item {
        max-width: 480px;
        width: auto;
        padding: 0 36px;
        margin-bottom: 48px;
    }
    
    .customers {
        flex-direction: column;
        width: auto;
    }
    
    .customers img {
        padding: 0 16px;
        margin-bottom: 64px;
    }
    
    .footer_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer_link {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 40px 0;
    }
    
    .footer_link a {
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 767px) {
    .max-width {
        max-width: 100%;
    }

    .strong_img, .device_img {
        max-width: 320px;
    }

    .download_btn {
        max-width: 270px;
    }

}